body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff;
    padding: 2rem;
    text-align: center;
}

h1 {
    color: #333;
}

input-container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto 2rem;
}
label{
    margin-top: 1rem;
    font: bold 1rem/1.5 "Times New Roman", Times, serif;
}

input{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid gray;
}

button{
    padding: 0.75rem 1.5rem 1.5rem;
    font-size: 1.1rem;
    background-color: #4caf50;
    text-color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom : 1rem;
}

button:hover{
    background-color: #4ca049;
}

storyOutput{
    font-size: 1.25rem;
    margin-top: 2rem;
    color: #333;
}